.modal
    max-width: 600px
    width: 90%
    margin: 30px auto
    padding: 30px 40px 40px
    background-color: $blue4
    border-radius: $brs3

    +maw($xxs)
        padding: 15px 20px 25px

    &__overlay
        +ps(fixed, (t, 0), (l, 0))
        z-index: 100500
        +flex(flex, center, center, nowrap)
        +sz(100%, 100%)
        background: rgba($black, 0.5)
        display: none
    &__header
        +flex(flex, center, space-between, nowrap)
        margin-bottom: 20px

    &__title
        +ft(20, 30, 700)

    &__close
        margin-left: auto
        border: none
        background: transparent
        color: $grey

.modal-success
    position: relative
    text-align: center
    max-width: 465px
    width: 90%
    .modal
        +ft(15, 15*1.4, 400)
        &__title
            margin-bottom: 12px
            +ft(36, 36, 700)
        &__cta
            margin-top: 12px
            @extend .form__btn
        &__close
            +ps(absolute, (l, auto), (t, 30px), (r, 30px))
            
        &__icon
            +flex(flex, center, center, nowrap)
            transform: translateY(-30px + -71px)
            margin: 0 auto -71px
            +sz(142px, 142px)
            border-radius: 50%
            background: $grad2
            color: red
    +maw($xs)
        +ft(14, 14*1.5, 400)
        .modal__title
            +ft(24, 24, 700)
        .modal__icon
            transform: translateY(-15px + -71px)
        .modal__close
            top: 15px
            right: 15px


   

