body
    +theme(white)

    background-image: url('../images/bg.webp')
    background-repeat: no-repeat
    background-size: cover
    background-position: center top
    font-family: $ffText2


a
    font-family: inherit
    &:hover, &:focus, &:active, &:focus-visible
        color: inherit
        outline: none
        appearance: none
        box-shadow: none


.page
    &__content
        margin-top: 30px
        margin-bottom: 90px
        +maw($xsm)
            margin-bottom: 30px
            margin-top: 0

    &__container
        overflow: hidden
        @extend %card
        user-select: initial
        //padding: 25px 40px 30px
        padding: 50px

        +ft(14, 18, 400, $ffText2)
        color: $grey3

        h1, h2, h3, h4, h5, h6
            margin-bottom: $gap20
            margin-top: $gap20 + 10px
            color: $grey6 

        & > :first-child
            margin-top: 0

        b, strong
            color: $grey6 
        h1, h2
            //+ft(24, 36, 600, $ffText)
            @extend %h3
            
        h3, h4, h5, h6
            @extend %h4
        p
            margin-top: $gap20
            margin-bottom: $gap20
            &:first-of-type
                margin-top: 0
            &:last-of-type
                margin-bottom: 0

        a
            text-decoration: underline
            overflow-wrap: break-word

            &:hover, &:active, &:focus
                text-decoration: none

        +maw($xxs)
            padding: 25px

    &__single
        margin-bottom: 60px
        .container
            display: flex
            flex-direction: column
            gap: 20px
        +maw($sm)
            margin-bottom: 30px

    &__info
        margin-top: 20px
        +maw($sm)
            margin-top: 0

    &__content
        p
            margin-top: 28px
            margin-bottom: 28px
            //+ft(16, 24, 400, $ffText2)
            +ft(14, 14*1.5, 400, $ffText2)

        img
            display: block
            object-fit: contain
            max-width: 100%
            width: 100%
            margin: 16px auto

        h1, h2, h3, h4, h5, h6
            & + *
                margin-top: 16px

    &__col
        margin: 45px auto
        display: grid
        grid-template-columns: 1fr 1fr 
        gap: 6%

        &--1
            margin-bottom: calc(90px - 28px - 16px)

        &--2
            div > :first-child
                margin-top: 0
            div > :last-child
                margin-bottom: 0

        &--2, &--3
            align-items: center

        &--4
            margin-bottom: 90px
            margin-top: 90px

     
        &:first-child
            margin-top: 90px
        
        &:last-of-type
            margin-bottom: 90px

        +maw($lg)
            &--3
                grid-template-columns: 1fr
                margin-bottom: 0

            &--4
                margin-top: 0

        +maw($sm)
            grid-template-columns: 1fr
            &--1
                gap: 0
                margin-bottom: 0
            &--2
                margin-top: 0
                padding-bottom: 45px
        +maw($xs)
            &--3
                gap: 28px
                margin-bottom: 0
                div > :last-child
                    margin-top: 0
                    margin-bottom: 0
            &--4
                margin-bottom: 30px
           

    &__row
        +flex(flex, flex-start, flex-start, nowrap)
        flex-direction: column
        gap: $gap20

    &__title
        margin-bottom: 0
        +maw($sm)
            text-align: center

    &__actions
        display: grid
        grid-template-columns: 300px 1fr
        gap: 20px

        +maw($md)
            grid-template-columns: 1fr

    &__sidebar
        position: relative
        @extend %card
        padding: 20px

    &__wrap
        display: grid
        grid-template-columns: 310px 1fr
        gap: $gap20

        +maw($md)
            grid-template-columns: 1fr

.section
    &-trading
        display: grid
        align-items: center
        grid-template-columns: 1fr 1.5fr
        gap: 7%
        margin: 10vh auto
        +ft(14, 14*1.4, 400, $ffText2)

        p
            //+ft(16, 19, 400, $ffText2)
            +ft(14, 14*1.45, 400, $ffText2)

        &--revert
            grid-template-columns: 1.5fr 1fr
            & > :first-child
                grid-column: 2
                grid-row: 1
            & > :last-child
                grid-column: 1 
                grid-row: 1

        &__title
            +ft(40, 60, 600, $ffText)

        +maw($md)
            &
                grid-template-columns: 1fr 0.75fr
                gap: 32px
                margin: 5vh auto
            &--revert
                grid-template-columns: 0.75fr 1fr
                gap: 0

            .stat
                text-align: left

        +maw($sm)
            &, &--revert
                grid-template-columns: 1fr

        +maw($xsm)
            &__title
                +ft(26, 26*1.5, 700, $ffText)

    
    &-partners
        text-align: center
        &__logos
            padding: 25px 0
            background: url('../images/trading/bg10.svg') no-repeat 50%/cover

            img
                margin: 25px auto

    &-robot
        padding: 40px 40px 
        box-shadow: $bxsd1
        border-radius: $brs4
        background: rgba($white, 0.92) url('../images/trading/bg1.svg') no-repeat 0 100%/contain

        img
            margin: 0 auto
            border-radius: $brs3
            box-shadow: $bxsd1

        p
            +ft(16, 19, 400, $ffText2)
            +maw($xsm)
                +ft(14, 14*1.5, 400, $ffText2)

        &__wrap
            padding: 90px 0 80px
            background-image: url(../images/trading/bg11.svg), url(../images/trading/bg12.svg) 
            background-repeat: no-repeat
            background-size: contain
            background-position: 0 -10vmax, 100% 5vmax

            +maw($xsm)
                padding: 5vh 0
       
        &__row
            display: grid
            grid-template-columns: 1fr 1.5fr
            gap: 40px
            align-items: center
            +maw($lg)
                grid-template-columns: 1fr

        &__title
            +ft(40, 60, 700, $ffHeading)
            color: $magenta

            +maw($xsm)
                +ft(26, 26*1.5, 700, $ffHeading)

        &__btn
            +flex(inline-flex, center, center, nowrap)
            +sz(200px, 45px)
            padding: 12px 20px
            border-radius: 10px
            box-shadow: $bxsd2
            background-color: $magenta2
            color: $white
            transition: $trs
            &:hover, &:active, &:focus
                background-color: $magenta
                color: $white


@keyframes fadeEffect 
    from
        opacity: 0
        transform: translateY(50px)
    to 
        opacity: 1
        transform: translateY(0)

