<section class="modal__overlay">
    <div class="modal modal-success">
        <div class="modal__icon">
            <svg class="icon" width="60" height="40">
                <use xlink:href="#check"></use>
            </svg>
        </div>
            <button class="modal__close">
                <svg class="icon" width="20" height="20">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
        <div class="modal__body">
            <div class="modal__title">
                {{ i18n "success_send" }}
            </div>

            <div class="modal__text">
                {{ i18n "success_send_text" }}
            </div>

            <button class="modal__cta">
                {{ i18n "success_send_cta" }}
            </button>
        </div>
    </div>
</section>